.button {
    color: #ffffff;
    padding: 1rem 1.6rem;

    &--success {
        background: #6b177c;
        border: 2px ridge #6b177c;
    }

    &--warning {
        background: #ed7e00;
        border: 2px ridge #ed7e00;
    }
}
